@media screen and (width <= 675px) {



.chamativa {
  display: none ;
}

.logotelamenor {
  display: block;


}

.logoheader {
  padding: 10px;
  height: 150px;
}

header li {
  display: none;
}

article {
  display: none;
}

.containerLanche {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #000; 
}

section h1 {
  top: 185px;
}

.containerLanche {
  margin-top: 180px;
}

}